.button {
  background: none;
  transition: $transition;
  @include fullSize();
  @include font($cyan, 2vw, 700);
  @include roundedBox($cyan, 0, 2px, 0, 0, 0, 0);
}

.button:hover {
  background: rgb(80, 103, 144);
  color: white;
  cursor: pointer;
}

.lucky {
  height: 100%;
  font-size: 20px;
  border-width: 0 0 0 2px;
}