.button {
  position: relative;
  background: none;
  transition: $transition;
  @include fullSize();
  @include font($cyan, 2vw, 700);
  @include roundedBox($cyan, 0, 2px, 0, 0, 0, 0);
}

.button:hover {
  background: $cyan;
  color: white;
  cursor: pointer;
}

.lucky {
  @include roundedBox($cyan, 0, 0, 0, 48px, 0, 0);
  border-width: 0 0 0 2px;
}

.current:after {
  content: "";
  position: absolute;
  bottom: 5px; left: 15px; right: 15px;
  @include roundedBox($neonPurple, 5px, 5px, 5px, 5px, 5px, 5px);
}