.genre-container {
  width: 230px;
}

.genre-container label {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.genre-container:hover .faux-box {
  background: $cranberryTuesday;
}

.genre-container:hover .genre-title {
  color: $cranberryTuesday;
}

.genre-container:active .faux-box {
  opacity: 0.5;
}

.genre-title {
  margin: 0 50px 0 10px;
  @include font(white, 20px, 600);
  transition: all .2s ease;
}

.faux-box {
  background: $neonPurple;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: $transition;
  position: relative;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ div.faux-box:after {
  content: "";
  position: absolute;
  top: 2px; left: 8px;
  width: 8px;
  height: 16px;
  border: solid #fff;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}