.footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 80px;
  display: flex;
  z-index: 1;
  background: $screenColor;
  @include roundedBox($neonPurple, 0, 3px, 50px, 50px, 0, 0);
  @include glow(-4px);
}

.search-section {
  width: 20%;
  @include flexCenter();
}