.popup-overlay {
  background: $blueScreen;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 2;
  @include fullSize();
}

.popup {
  background: $screenColor;
  position: relative;
  top: 150px;
  height: 60%;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
  "img text";
  @include glow(4px);
  @include roundedBox($neonPurple, 0, 3px, 20px, 20px, 20px, 20px);
}

.popup-img-container {
  grid-area: img;
  @include flexCenter();
}

.popup-img {
  background-position: center;
  @include roundedBox(none, 0, 0, 16px, 0, 0, 16px);
  @include fullSize();
}

.popup-text-container {
  grid-area: text;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  padding: 0 20px;
  color: $cyan;
}

.close {
  position: absolute;
  right: 30px; top: 20px;
  background: hsla(0, 0%, 100%, 0.2);
  font-size: 25px;
  color: #fff;
  transition: $transition;
  @include roundedBox(none, 0, 0, 100%, 100%, 100%, 100%);
}

.close:hover {
  background: $neonPurple;
}