.search {
  width: 100%;
  padding: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
}

.search::placeholder {
  color: $cyan;
  transition: $transition;
}

.search:focus::placeholder {
  color: hsla(0, 0%, 0%, 0)
}