.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: hsla(233, 10%, 14%, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 4px 18px #ce63ff;
  border: solid #ce63ff;
  border-width: 0 3px 0 3px;
  border-radius: 0 0 50px 50px;
  box-sizing: border-box;
}

.title {
  font-family: 'Audiowide', cursive;
  font-size: 60px;
  background: -webkit-linear-gradient(#ce63ff , rgb(162, 68, 87));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}