.genre-check {
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  bottom: 100px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background: hsla(233, 10%, 14%, 0.9);
  box-shadow: 0px 4px 18px #ce63ff;
  border: solid #ce63ff;
  border-width: 0;
  border-radius: 50px 50px 50px 50px;
} 

.hide {
  display: none;
}

.genre-container {
  width: 230px;
}

.genre-container label {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.genre-container:hover .faux-box {
  background: #a24457;
}

.genre-container:hover .genre-title {
  color: #a24457;
}

.genre-container:active .faux-box {
  opacity: 0.5;
}

.genre-title {
  margin: 0 50px 0 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  transition: all .2s ease;
}

.faux-box {
  background: #ce63ff;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: all .2s ease;
  position: relative;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ div.faux-box:after {
  position: absolute;
  left: 8px;
  top: 2px;
  content: "";
  width: 8px;
  height: 16px;
  border: solid #fff;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}