.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Audiowide', cursive;
  font-size: 60px;
  background: -webkit-linear-gradient(#19196f , rgb(162, 68, 87));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}