.search-form {
  position: fixed;
  bottom: 0;
  width: 20%;
}

.search {
  width: 100%;
  height: 98px;
  /*background: none;*/
  border: none;
  color: white;
  font-size: 30px;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #234987;
  transition: all .2s ease;
}

.search:focus::placeholder {
  color: hsla(0, 0%, 0%, 0)
}

.clear-search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 40px;
}

.left-line,
.right-line {
  position: absolute;
  background: #506790;
  width: 5px;
  height: 20px;
}

.left-line { transform: rotate(45deg); }
.right-line { transform: rotate(-45deg); }